body{
    font-family: 'Prompt', sans-serif;
}

.logo {
    width: 25px;
}

.nav-hov:hover{
    color: white !important;
}

.foo-hov:hover{
    color: white !important;
}

.masthead {
    background-image: url('/public/img/masthead.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sfondo {
    background-color: rgb(0, 0, 0);
}

.footer {
    background-color: black;
}

.altezza {
    height: 500px;
}

.card-img-top {
    height: 350px;
    width: 100%;

}

.card-delete {
    height: 350px;
    width: 40%;
}

